<div clas="container">
  <div class="row">
    <div class="mt-5">
    <h5 class="col-4 mx-auto mb-5 ml-5 bg-warning">会員情報編集</h5>

   <%= form_with model: @customer, url: my_page_edit_path do |f| %>
  <table class="col-12 mb-3 ml-5">
    <tbody>
      <tr>
      <td class="p-2 w-50">氏名</td>
        <td><%= f.text_field :last_name %><td>
        <td><%= f.text_field :first_name %></td>
      </tr>
      <tr>
      <td class="p-2 w-50">フリガナ</td>
        <td><%= f.text_field :last_name_kana %><td>
        <td><%= f.text_field :first_name_kana %></td>
      </tr>
      <tr>
      <td class="p-2 w-50">郵便番号</td>
        <td><%= f.text_field :postal_code %><td>
      </tr>
      <tr>
      <td class="p-2 w-50">住所</td>
        <td><%= f.text_field :address %><td>
      </tr>
      <tr>
      <td class="p-2 w-50">電話番号</td>
        <td><%= f.text_field :telephone_number %><td>
      </tr>
      <tr>
      <td class="p-2 w-50">メールアドレス</td>
        <td><%= f.text_field :email %><td>
      </tr>
      <tr>
        <td><%= f.submit '編集内容を保存', class: "btn btn-success ml-5 mt-5" %></td>
        <td><%= link_to "退会する", customers_withdraw_confirmation_path, class: "btn btn-danger mt-5" %></td>
      </tr>
    </tbody>
  </table>
  <% end %>

  </div>
  </div>
</div>
