<div clas="container">
  <div class="row">
    <div class="col-7 mt-5">
    <h5 class="col-2 mx-auto mb-5 ml-5 alert-secondary">マイページ</h5>


  <table class="mb-3 ml-5">
  <theader>
    <tr>
      <td><h5 class="pr-3 font-weight-bold">登録情報</h5></td>
      <td><%= link_to "編集する", customers_my_page_edit_path, class: 'btn btn-success' %></td>
    </tr>
  </theader>
  </table>

  <table class="mb-3 ml-5 w-100">
    <tbody>
      <tr>
        <td class="border border-3 p-2 w-40">氏名</td>
        <td class="border border-3 w-75"><%= @customer.last_name %> <%= @customer.first_name %></td>
      </tr>
       <tr>
        <td class="border border-3 p-2">カナ</td>
        <td class="border border-3"><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
      </tr>
      <tr>
        <td class="border border-3 p-2">郵便番号</td>
        <td class="border border-3"><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <td class="border border-3 p-2">住所</td>
        <td class="border border-3"><%= @customer.address %></td>
      </tr>
      <tr>
        <td class="border border-3 p-2">電話番号</td>
        <td class="border border-3"><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <td class="border border-3 p-2 w-40">メールアドレス</td>
        <td class="border border-3"><%= @customer.email %></td>
      </tr>
    </tbody>
  </table>

  <table class="ml-5 mt-5">
    <tr>
      <td><h5 class="pr-3 font-weight-bold">注文履歴</h5></td>
      <td><%= link_to "一覧を見る", orders_path, class: "btn btn-primary"%></td>
    </tr>
  </table>
  </div>
  </div>
</div>


