<div class="container">
    <div class="row">
        <div class="col-2 mt-5 pl-5 alert-secondary mb-4">
        <h5>商品詳細</h5>
        </div>
    </div>

    <div class="row">
    <table class="mt-5 col-5">
            <p><%= image_tag @item.image, :size =>'400x200' %></p>
    </div>

        <div class="row">
        <div class="col-5 mt-5 ml-5">
            <tr>
                <td>商品名</td>
                <td class="p-1"><%= @item.name %></td>
            </tr>
            <tr>
                <td>商品説明</td>
                <td class="p-1"><%= @item.introduction %></td>
            </tr>
            <tr>
                <td>税抜価格</td>
                <td class="p-1"><%= @item.price %>円</td>
            </tr>
            
            <footer>
                </div><%= link_to "編集する", admin_items_edit_path(@item.id), class: "btn-success p-3 rounded m-5" %></div>
            </footer>
        </div>
        </div>
        </div>
    </table>
    </div>
</div>
