<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="p-5 border mt-5">
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録がが必要になります。
      </div>
    </div>

    <div class="col-12">
      <h4 class="font-weight-bold mb-5 mt-5">新着商品</h4>
      <div class="row">
    <% @items.limit(8).each do |item| %>
      <table class="mb-3">
        <thead>
           <tr>
               <th>
                <%= link_to item_path(item.id) do %>
          　     <%= image_tag item.image, :size =>'200x100' %>
          　     <% end %>
               </th>
            </tr>
         </thead>
         <tbody>
           <tr>
         　    <th><%= link_to item.name, item_path(item.id) %></th>
           </tr>
           <tr>
         　    <th>￥<%= item.price %></th>
           </tr>
         </tbody>
      </table>
     <% end %>
     </div>
    </div>
      <div class="pl-5 pt-5 pb-5 mx-auto mb-5">
        <%= link_to "全ての商品を見る >", items_path %>
      </div>
</div>