<div class="container">
    <div class="row">
       <table>
            <div class="mt-5 pl-5 alert-secondary col-4">
            <h5><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h5>
            </div>
       </table>

        <div class="col-12">

     <body>
        <table class="mt-5 w-50 text-left">
            <tr>
                <td class="pl-5 p-2">会員ID</td>
                <td><%= @customer.id %></td>
            </tr>
            <tr>
                <td class="pl-5 p-2">氏名</td>
                <td><%= @customer.first_name %> <%= @customer.last_name %></td>
            </tr>
            <tr>
                <td class="pl-5 p-2">フリガナ</td>
                <td><%= @customer.first_name_kana %> <%= @customer.last_name_kana %></td>
            </tr>
            <tr>
                <td class="pl-5 p-2">郵便番号</td>
                <td><%= @customer.postal_code %></td>
            </tr>
            <tr>
                <td class="pl-5 p-2">住所</td>
                <td><%= @customer.address %></td>
            </tr>
             <tr>
                <td class="pl-5 p-2">電話番号</td>
                <td><%= @customer.telephone_number %></td>
            </tr>
             <tr>
                <td class="pl-5 p-2">メールアドレス</td>
                <td><%= @customer.email %></td>
            </tr>

        </table>

         <div class="mt-5 p-10 w-15 m-5 p-5">
        <tr>
            <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn-success p-3 rounded" %>
        </tr>
        <tr>
            <%= link_to "注文履歴一覧を見る", edit_admin_customer_path(@customer), class: "btn-success p-3 rounded" %>
        </tr>
         </div>

    </body>

 </div>
</div>

