<div class="container">
  <div class="row">
    <h5>ショッピングカート</h5>
  </div>

  <div class="row">
    <tr>
      <td>商品名</td>
      <td>単価(税込)</td>
      <td>数量</td>
      <td>小計</td>
      <td></td>
    </tr>

     <% @cart_items.each do |cart_item| %>
    <tr>
      <td>
         <%= image_tag cart_item.item.image, :size =>'100x50' %>
         <%= cart_item.item.name %>
      </td>
      <td><%= cart_item.item.price %></td>

      <td><%= cart_item.item.with_tax_price %></td>
      <td><%= cart_item.subtotal %></td>
      <% @sum += cart_item.subtotal %>
    </tr>
    <tr>
      <% end %>
      <td>

        <% if @cart_items == current_customer %>
        <%= link_to "削除する", cart_items_path(@cart_item), method: :delete, class: "btn btn-danger" %>
        <% end %>
      </td>
    </tr>

    </div>

    <div class="row">
    <tr>
      <td>合計金額</td>
      <td><%= @sum %></td>
    </tr>
    </div>

</div>
