<div class="container">
  <div class="row">
    <div class="col-3 alert-secondary text-center">
    <h5>ショッピングカート</h5>
    </div>
  </div>
  <div class="row">
    <table class="mt-5 border w-100">
    <thead>
    <tr>
      <th class="py-3 border alert-secondary">商品名</th>
      <th class="py-3 border alert-secondary">単価(税込)</th>
      <th class="py-3 border alert-secondary">数量</th>
      <th class="py-3 border alert-secondary">小計</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <td class="border p-2">
        <%= image_tag cart_item.item.image, :size =>'130x70', class: "mr-3" %>
        <%= cart_item.item.name %>
      </td>
      <td class="border"><%= cart_item.item.with_tax_price %></td>
      <td class="border">
          <%= form_with model: cart_item, method: :patch, url: cart_item_path(cart_item) do |f| %>
          <%= f.select :amount, *[1..10], include_blank: "数量" %>
          <%= f.submit "変更", class: "btn-success p-1 rounded ml-1" %>
          <% end %>
      </td>
      <td class="border"><%= cart_item.subtotal %></td>
      <td><% @sum += cart_item.subtotal %></td>
      <td><%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: "btn btn-danger" %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
  </div>

    <div class="row">
      <div class="col-8 mt-5"><%=link_to "買い物を続ける", items_path, class: "btn btn-primary" %></div>
       <div class="col-4 align-self-end">
        <table class="table table-hover table-inverse text-center">
         <tr>
          <td class="border p-3 alert-secondary">合計金額</td>
          <td class="border p-3"><%= @sum %></td>
         </tr>
        </table>
       </div>
    </div>

</div>
