<div class="container">
  <div class="row">
    <div class="col-5">
    <h5>ショッピングカート</h5>
    </div>

    <table class="mt-5 border w-100">
    <tr>
      <th></th>
      <th class="py-3">商品名</th>
      <th class="py-3">単価(税込)</th>
      <th class="py-3">数量</th>
      <th class="py-3">小計</th>
    </tr>
    <table>

  <table class="w-100">
    <% @cart_items.each do |cart_item| %>
    <tr>
      <td>
        <%= image_tag cart_item.item.image, :size =>'150x80', class: "mr-3" %>
        <%= cart_item.item.name %>
      </td>
      <td><%= cart_item.item.price %></td>
      <td><%= cart_item.item.with_tax_price %></td>
      <td><%= cart_item.subtotal %></td>
      <td><% @sum += cart_item.subtotal %></td>
      <td><%= link_to "削除する", cart_items_path(@cart_item), method: :delete, class: "btn btn-danger" %></td>
    </tr>
    <% end %>
  </table>

      <table>
      <tr>
      <td class="border pr-5 text-right p-3">合計金額</td>
      <td class="border text-right p-3"><%= @sum %></td>
     </tr>
      </table>

  </div>
</div>
