<div class="container">
  <div class="row">
    <div class="col-5">
    <h5>ショッピングカート</h5>
    </div>


    <table class="col-12 mt-5">
    <tr>
      <th></th>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>

    <% @cart_items.each do |cart_item| %>
    <tr>
      <td><%= image_tag cart_item.item.image, :size =>'150x80' %></td>
      <td><%= cart_item.item.name %></td>
      <td><%= cart_item.item.price %></td>
      <td><%= cart_item.item.with_tax_price %></td>
      <td><%= cart_item.subtotal %></td>
      <td><% @sum += cart_item.subtotal %></td>
      <td><% if cart_item.item == current_customer %>
          <%= link_to "削除する", cart_items_path(@cart_item), method: :delete, class: "btn btn-danger" %>
          <% end %>
      </td>
       <% end %>
    </table>

    <table class="mt-5">
      <tr>
      <td class="pr-4">合計金額</td>
      <td><%= @sum %></td>
     </tr>
    </table>





  </div>
</div>
