<div class="container">
  <div class="row">
    <div class="col-2 alert-secondary text-center">
    <h5>注文情報確認</h5>
    </div>
  </div>
  <div class="row">
    <table class="mt-5 border w-100 col-8">
    <thead>
    <tr>
      <th class="py-3 border alert-secondary">商品名</th>
      <th class="py-3 border alert-secondary">単価(税込)</th>
      <th class="py-3 border alert-secondary">数量</th>
      <th class="py-3 border alert-secondary">小計</th>
      <th class="colspan-3"></th>
    </tr>
    </thead>
    <tbody>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <td class="border p-2">
        <%= image_tag cart_item.item.image, :size =>'90x50', class: "mr-3" %>
        <%= cart_item.item.name %>
      </td>
      <td class="border pl-1"><%= cart_item.item.with_tax_price %></td>
      <td class="border pl-1">
          <%= form_with model: cart_item, method: :patch, url: cart_item_path(cart_item) do |f| %>
          <%= cart_item.amount %>
          <% end %>
      </td>
      <td class="border pl-1"><%= cart_item.subtotal %></td>
      <td><% @sum = @sum + cart_item.subtotal %></td>
      <% end %>
    </tr>
    </tbody>
    </table>


    <div class="col-4 mt-5 w-100">
      <table>
        <tr>
          <th class="py-3 alert-secondary pr-5">送料</th>
          <td class="pl-1 border pr-5"><%= @order.postage %></td>
        </tr>
      <tr>
        <th class="py-3 alert-secondary pr-5">商品合計</th>
        <td class="pl-1 border pr-5"><%= @sum %></td>
      </tr>
      <tr>
        <th class="py-3 alert-secondary pr-5">請求金額</th>
        <td class="pl-1 border pr-5"><%= @sum + @order.postage %></td>
      </tr>

      </table>
    </div>
    </div>
  </div>

    <div class="row">

      <div class="col-10 mt-5 pl-5">
        <table>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method %></td>
        </tr>
        <tr>
          <th>お届け先</th>
          <td><%= @order.post_code + @order.address + @order.name  %></td>
        </tr>
        </table>
        <%= form_with model: @order do |f| %>
        <%= f.hidden_field :payment_method, :value => @order.payment_method %>
        <%= f.hidden_field :postage, :value => @order.postage %>
        <%= f.hidden_field :address, :value => @order.address %>
        <%= f.hidden_field :post_code, :value => @order.post_code %>
        <%= f.hidden_field :name, :value => @order.name %>
        <%= f.hidden_field :customer_id, :value => @order.customer_id %>
        <%= f.hidden_field :total_price, :value => (@sum + @order.postage) %>
        <%= f.submit "注文を確定する", class: "btn-success p-3 rounded" %>
        <% end %>
      </div>

       </div>
    </div>

</div>
