<div class="container">
    <div class="row">
      <div class="mt-5 p-1 alert-secondary text-center col-2 mb-4">
        <h5>注文履歴詳細</h5>
      </div>
    </div>

  <div class="row">
    <div class="col-6">
    <table>
      <tbody>
      <p class="font-weight-bold">注文情報</p>
      <tr>
        <td class="alert-secondary py-2 pr-5 border">注文日</td>
        <td class="border py-3"><%= @order.created_at.strftime("%Y/%m/%d") %></td>
      </tr>
      <tr>
        <td class="alert-secondary py-2 pr-5 border">配送先</td>
        <td class="border py-3 pr-5">〒<%= @order.post_code %><br><%= @order.address %><br><%= @order.name %></td>
      </tr>
      <tr>
        <td class="alert-secondary py-2 pr-5 border">支払方法</td>
        <td class="border py-3"><%= @order.payment_method %></td>
      </tr>
    </tbody>
  </table>
    </div>

    <div class="col-4">
      <table>
       <tbody>
      <p class="font-weight-bold">請求情報</p>
      <tr>
        <td class="alert-secondary border py-3 pr-5">商品合計</td>
        <td class="border py-3 pr-5"><%= @order.total_price %>円</td>
      </tr>
      <tr>
        <td class="alert-secondary border py-3 pr-5">配送料</td>
        <td class="border py-3 pr-5"><%= @order.postage %></td>
      </tr>
      <tr>
        <td class="font-weight-bold alert-secondary border py-3 pr-5">ご請求額</td>
        <% @sum = @order.total_price + @order.postage %>
        <td class="border py-3 pr-5"><%= @sum %>円</td>
      </tr>
      </tbody>
      </table>
  </div>
  </div>

    <div class="row">
      <div class="col-12 mt-5">
        <table>
        <p class="font-weight-bold">注文内容</p>
        <tr>
          <td class="alert-secondary border py-3 w-50">商品</td>
          <td class="alert-secondary border py-3 pr-5">単価</td>
          <td class="alert-secondary border py-3 pr-5">個数</td>
          <td class="alert-secondary border py-3 pr-5">小計</td>
        </tr>

        <tr>
          <td class="border py-3"><%= @order_detail.item.name %></td>
          <td class="border py-3"><%= @order_detail.price %>円</td>
          <td class="border py-3"><%= @order_detail.amount %>個</td>
          <td class="border py-3"><%= @order_detail.subtotal_order_detail %></td>
        </tr>

        </table>
      </div>
    </div>

</div>