<div class="container">
  <div class="row">

    <table>
      <div class="mt-5 p-2 alert-secondary mb-5 font-weight-bold col-2 text-center">
        <h5>商品一覧</h5>
      </div>
    </table>
    </div>

    <div class="row">
    <% @items.each do |item| %>
      <table class="mb-3">
        <thead>
           <tr>
               <th>
                <%= link_to item_path(item.id) do %>
          　     <%= image_tag item.image, :size =>'200x100' %>
          　     <% end %>
               </th>
            </tr>
         </thead>
         <tbody>
           <tr>
         　    <th><%= link_to item.name, item_path(item.id) %></th>
           </tr>
           <tr>
         　    <th>￥<%= item.price %></th>
           </tr>
         </tbody>
      </table>
     <% end %>
     </div>

    <div class="row">
      <footer class="pl-5 pt-5 pb-5 mx-auto mb-5">
        <%= paginate @item %>
      </footer>
    </div>
</div>