<div class="container">
  <div class="row">

    <div class="mt-5 col-6">
       <%= form_with model: @cart_item, method: :post, url: cart_items_path do |f| %>

      <p><%= image_tag @item.image, :size =>'400x200' %></p>
    </div>

      <table class="col-6">

      <tr>
      <td><%= @item.name %></td>
      </tr>
      <tr>
      <td><%= @item.introduction %></td>
      </tr>
       <tr>
      <td>￥<%= @item.price %>(税込)</td>
      </tr>

      <tr>
        <td>
          <%= f.select :amount, *[1..10], class: "w-10", include_blank: "個数選択"%>
        </td>
        <td>
          <%= f.submit "カートに入れる", class: "btn-success p-2 round" %>
          <% end %>
        </td>
      </tr>

    </table>
  </div>
</div>