<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/2ff29df84d.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <tabele>
          <tr>
            <td>
              <div class="p-3 m-3 h-50">
              <%= link_to "LOGO", root_path, class: "border border-2 rounded py-2 px-5 w-50 ml-5 h2" %>
              </div>
            </td>
          </tr>
      <div class="text-right pr-5">
        <% if admin_signed_in? %>
          <tr>
            <td> <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "border border-2 rounded p-2 m-3" %></td>
          </tr>
        <% elsif customer_signed_in? %>
          <tr>
            <td><%= link_to "マイページ", customers_my_page_path, class: "border border-2 rounded p-2 m-3" %></td>
          </tr>
          <tr>
            <td><%= link_to "商品一覧", items_path, class: "border border-2 rounded p-2 m-3" %></td>
          </tr>
          <tr>
            <td><%= link_to "カート", customers_cart_items_path, class: "border border-2 rounded p-2 m-3" %></td>
          </tr>
          <tr>
            <td><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "border border-2 rounded p-2 m-3" %></td>
          </tr>
        <% else %>
          <tr>
            <td><%= link_to "新規登録", new_customer_registration_path, class: "border border-2 rounded p-2 m-3" %></td>
          </tr>
          <tr>
            <td><%= link_to "ログイン", new_customer_session_path, class: "border border-2 rounded p-2 m-3" %></td>
          </tr>
        <% end %>
      </div>
        </tabele>
    </header>
      <%= yield %>
  </body>

</html>
